.idea
.vs/
.vscode/

*/.DS_Store
.DS_Store

composer.lock
composer.phar

.php_cs.cache
.env

vendor

php_errors.log

config/.config.php
config/.config.php.bak

config/appprofile.php

!storage/framework/smarty/cache/.gitkeep
storage/framework/smarty/cache/*

!storage/framework/smarty/compile/.gitkeep
storage/framework/smarty/compile/*

!storage/framework/views/.gitkeep
storage/framework/views/*

!storage/SendTelegram/.gitkeep
storage/SendTelegram/*

storage/*.*

/storage/traffic_notified/

!resources/clients/*/使用注意.txt
resources/clients/*/*

!resources/conf/*/default.tpl
resources/conf/*/*

resources/views/material/analytics.tpl

public/ssr-download/
public/images/*.*
public/theme/material/css/images/bg

.htaccess

404.html
index.html

.user.ini
public/.user.ini

test/tpl_files.txt
